.chat
  .chat-main
    .chat-body
      .my-message.clearfix
      %ul.chat-messages
        - @messages.each do |message|
          %li.chat-message.clearfix
            - if message.user == current_user
              .chat-message__header.clearfix.right_space
                .chat-message__name
                  =current_user.name
                .chat-message__body
                  %span.text-left= message.content
                  / = image_tag message.user.avatar, class: "message-avatar"
            - else
              .chat-message__header.clearfix
                .chat-message__name
                  =message.user.name
                  / = image_tag message.user.avatar, class: "message-avatar"
                .chat-message__body.text-right
                  = message.content
    .chat-footer
      = form_for [@group, @message] , html: { class: 'form js-form' } do |f|
        .chat-footer__body
          = f.text_area :content, class: "text-field", row: 1, placeholder: 'type a message'
        = f.submit 'Send'
